body{

  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  background-color: #e8ffff;
}

h1{
  font-size: 3.5rem;
  font-family: 'Shadows Into Light', cursive;
  margin: 50px auto 0 auto; /*margin-top, margin-right, margin-bottom, and margin-left. */
}

h2{
  font-size: 2rem;
  color: #790c5a;
  font-family: 'Montserrat', sans-serif;
}

h3{
  color: #fc8621;
}

p{
  line-height: 2;
}

a{
  color: #30475e;
  font-family: 'Open Sans', sans-serif;
  margin: 20px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

hr{
  border: dotted #456268 5px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;

}
.top-container{
  position: relative;
  padding-top: 100px;
  background-color: #aee6e6;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 30px 0 30px;
}

.Projects{
  display: block;
}

.top-cloud {
  position: absolute;
  right: 15%;
}

.mountain{
  padding-bottom: 50px;
}

.bottom-cloud{
  position: absolute;
  bottom: 300px;
  left: 15%;
}

.heading{
  position: relative;
  top: 100px;
}

.personal{
  text-decoration: underline;
}

.profile_image{
  width:200px;
  height:200px;
  border-radius: 50%;
  margin-top: 100px;
}

.pics-computer{
  width:25%;
  border-radius: 50%;
  float: left;
  margin: 50px;
}

.pics-educational{
  width:25%;
  border-radius: 50%;
  float: right;
  margin: 50px;
}

.pics-android{
  width:100px;
  border-radius: 50%;
}

.pics-contact{
  width:100px;
  border-radius: 50%;
}

.table{
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  font-size:1.5rem;
}

/*to  create a button */
.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 6px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   padding: 10px 20px 10px 20px;
   /*
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;*/
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 50px;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 10px;
   text-decoration: none;
}

.Goodwill{
  color: #EAF6F6;
  font-family: 'Architects Daughter', cursive;
  font-size: 0.75rem;
}
